body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: Maroon;
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-shadow: 3px 3px 3px #aaa;
}

header p {
    margin-bottom: 20px;
    font-size: 18px;
}

section.buttons button {
    background-color: Maroon;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section.buttons button:hover {
    background-color: darkred;
}
